html,body{
   font-family: "Microsoft Yahei";
}
.wq-nowrap{
    max-width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
.wq-nowrap-flex{
    display:-webkit-box;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    -webkit-box-flex:1;
    height:inherit
}
.wq-nowrap-multi{
    display:-webkit-box;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2
}


.shadowNav{
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.disb{
    display: block;
}
.disL{
    display: inline-block;
}
.bor0{
    border:0;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.posR{
    position: relative;
    z-index: 0;
}
.posA{
    position: absolute;
}
.zIndex99{
    z-index: 99;
}
.mg0Auto{
    margin: 0 auto;
}
.pIndent2{
    text-indent: 2em;
}
.plr0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*字体*/
.fb{
    font-weight: bold;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f15{
    font-size: 15px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}
.f22{
    font-size: 22px;
}
.f24{
    font-size: 24px;
}
.f25{
    font-size:25px;
}
.f26{
    font-size: 26px;
}
.f28{
    font-size: 28px;
}
.f30{
    font-size: 30px;
}
.f40{
    font-size: 40px;
}
.f60{
    font-size: 60px;
}
.c3{
    color: #333;
}
.c6{
    color: #666 ;
}
.c9{
    color: #999;
}
.cc{
    color: #ccc;
}
.cf2{
    color: #f2f2f2;
}
.cf{
    color: #fff;
}
.c3e5159{
    color: #3e5159;
}
.c78888f{
    color: #78888f;
}
.cd{
    color: #ddd;
}
.c1f9fdc{
    color:#1f9fdc;
}
.c0b95e9{
    color:#0b95e9;
}
.cffb80c{
    color:#ffb80c;
}
/*距离*/
.h35{
    height: 35px;
}
.h50{
    height: 50px;
}
.w10{
    width:10%;
}
.w19{
    width:19%;
}
.w20{
    width: 20%;
}
.w80{
    max-width: 80%;
}
.w90{
    width: 90px;
}
.w95pd5{
    max-width: 95%;
    padding: 5%;
    margin: 0 auto;
}
.w97{
    width:97%;
    margin:0 auto;
}
.w100{
    /*max-width: 100%;*/
}
.w180px{
    width: 180px;
}
.h40px{
    height: 40px;
}
.h50px{
    height: 50px;
}
.h90px{
    height: 90px;
}
.h100px{
    height:100px;
}
.h400px{
    height: 400px;
}
.minh230{
    min-height: 230px;
}
.minh280{
    min-height: 280px;
}
.minh360{
    min-height: 360px;
}
.minh418{
    min-height: 418px;
}
.lineH100{
    line-height: 100%;
}
.lineH20{
    line-height:20px;
}
.linH35{
    line-height: 35px;
}
.linH50{
    line-height: 50px;
}
.linH90{
    line-height: 90px;
}
.lineH150{
    line-height: 150%;
}
.lineH200{
    line-height: 200%;
}
.lh40px{
    line-height: 40px;
}
.lh50px{
    line-height: 50px;
}
.h130{
    height: 130px;
}
.h210{
    height: 210px;
}
.mgT5{
    margin-top: 5px;
}
.mgB5{
    margin-bottom: 5px;
}
.mgL5{
    margin-left: 5px;
}
.mgR5{
    margin-right: 5px;
}
.mgT10{
    margin-top: 10px;
}
.mgT-10{
    margin-top:-10px;
}
.mgB10{
    margin-bottom: 10px;
}
.mgL10{
    margin-left: 10px;
}
.mgR10{
    margin-right: 10px;
}
.mgT15{
    margin-top: 15px;
}
.mgB15{
    margin-bottom: 15px;
}
.mgL15{
    margin-left: 15px;
}
.mgR15{
    margin-right: 15px;
}
.mgT20{
    margin-top: 20px;
}
.mgB20{
    margin-bottom: 20px;
}
.mgL20{
    margin-left: 20px;
}
.mgR20{
    margin-right: 20px;
}
.mgT25{
    margin-top: 25px;
}
.mgB25{
    margin-bottom: 25px;
}
.mgL25{
    margin-left: 25px;
}
.mgR25{
    margin-right: 25px;
}
.mgT30{
    margin-top: 30px;
}
.mgB30{
    margin-bottom: 30px;
}
.mgL30{
    margin-left: 30px;
}
.mgR30{
    margin-right: 30px;
}
.mgT35{
    margin-top: 35px;
}
.mgB35{
    margin-bottom: 35px;
}
.mgL35{
    margin-left: 35px;
}
.mgR35{
    margin-right: 35px;
}
.mgT40{
    margin-top: 40px!important;
}
.mgB40{
    margin-bottom: 40px;
}
.mgT45{
    margin-top: 45px;
}
.mgL45{
    margin-left: 45px;
}
.mgL50{
    margin-left: 50px;
}
.mgT50{
    margin-top: 50px;
}
.mgB45{
    margin-bottom:45px;
}
.mgB50{
    margin-bottom: 50px;
}
.mgT60{
    margin-top: 60px;
}
.mgL60{
    margin-left: 60px;
}
.mgR45{
    margin-right:45px;
}
.mgB60{
    margin-bottom: 60px!important;
}
.mgT70{
    margin-top: 70px;
}
.mgB70{
    margin-bottom: 70px;
}
.mgT80{
    margin-top: 80px;
}
.mgB80{
    margin-bottom: 80px;
}
.mgT90{
    margin-top: 90px;
}
.mgT110{
    margin-top: 110px;
}
.mgB176{
    margin-bottom: 176px;
}
.mgT200{
    margin-top: 200px;
}
.pdB10{
    padding-bottom: 10px;
}
.pdT10{
    padding-top:10px;
}
.pdT30{
    padding-top: 30px;
}
.pdT30i{
    padding-top: 30px!important;
}
.pdB30{
    padding-bottom: 30px;
}
.pdB30i{
    padding-bottom: 30px!important;
}
.pdL10{
    padding-left: 10px;
}
.pdR10{
    padding-right: 10px;
}
.pdL40{
    padding-left: 40px;
}
.pdT40{
    padding-top:40px;
}
.pdB50{
    padding-bottom: 50px;
}
.mgTm10{
    margin-top: -10px;
}
.mgm18{
    margin-left: -18px;
}
.pdB75{
    padding-bottom:75px;
}
/*形状*/
.sqare70{
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.sqare90{
    display: inline-block;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}
.sqare110{
    display: inline-block;
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
}
.text-right{
    text-align:right;
}
/*圆角*/
.radius10{
    border-radius: 10px;
}
.radius20{
    border-radius: 20px;
}
.radius30{
    border-radius: 30px;
}
.radiusTopLeft5{
    border-radius: 5px 0px 0px 0px;
}
.radiusBottomLeft5{
    border-radius: 0px 0px 0px 5px;
}
.radiusLeft5{
    border-radius: 5px 0px 0px 5px;
}


/*颜色*/
.bgRed{
    background: #ff6c88;
}
.bgGreen{
    background: #42dac5;
}
.bg5cb85c{
    background: #5cb85c;
}
.bg5bc0de{
    background: #5bc0de;
}
.bgf0ad4e{
    background: #f0ad4e;
}
.bgBlue{
    background: #39a8d4;
}
.bgYellow{
    background: #ffd81f;
}
.bgE{
    background: #eeeeee;
}
.bg0{
    background: #000;
}
.bgf{
    background: #fff;
}
.bgf8{
    background: #f8f8f8;
}
.bg31a7df{
    background: #31a7df;
}
.bg99c6d7{
    background: #99c6d7;
}
.cTheme{
    color: #1f9fdc;
}
.bgf1{
    background: #f1f1f1;
}
.bg0b95e9{
    background:#0b95e9;
}
.bgffb80c{
    background:#ffb80c;
}
/*图标*/
.icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-size: 750px auto;
}
.icon-opsys-1{
    width: 50px;
    height: 50px;
    background-position: -638px -567px;
}
.icon-opsys-2{
    width: 50px;
    height: 50px;
    background-position: -638px -638px;
}
.icon-opsys-3{
    width: 50px;
    height: 50px;
    background-position: -567px -638px;
}
.index-arrow-right{
    width: 7px;
    height: 12px;
    background-position: -567px -567px;
}
.index-icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    background-size: 750px auto;
}
.icon-cross{
    width: 75px;
    height: 75px;
    background-position: 0 0px;
}
.icon-cloud{
    width: 75px;
    height: 75px;
    background-position: -75px 0px;
}
.icon-clover{
    width: 75px;
    height: 75px;
    background-position: -150px 0;
}
.icon-loop{
    width: 75px;
    height: 75px;
    background-position: -225px 0;
}
.icon-customer{
    width: 46px;
    height: 46px;
    background-position: 0 -75px;;
}
.icon-talk{
    width: 60px;
    height: 60px;
    background-position: -46px -75px;
}
.icon-tel{
    width: 60px;
    height: 60px;
    background-position: -106px -75px;
}
.icon-mail{
    width: 60px;
    height: 60px;
    background-position: -166px -75px;
}

.icon-fire{
    width: 60px;
    height: 60px;
    background-position: -0px -213px;
}
.icon-bag{
    width: 60px;
    height: 60px;
    background-position: -70px -213px;
}
.icon-sale{
    width: 60px;
    height: 60px;
    background-position: -140px -213px;
}
.icon-robot{
    width: 60px;
    height: 60px;
    background-position: -210px -213px;
}
.icon-findmoney{
    width: 60px;
    height: 60px;
    background-position: -280px -213px;
}
.icon-category{
    width: 70px;
    height: 70px;
    background-position: -0px -284px;
}
.icon-storage{
    width: 70px;
    height: 70px;
    background-position: -70px -284px;
}
.icon-sku{
    width: 70px;
    height: 70px;
    background-position: -140px -284px;
}
.icon-stock{
    width: 70px;
    height: 70px;
    background-position: -0px -355px;
}
.icon-bell{
    width: 70px;
    height: 70px;
    background-position: -70px -355px;
}
.icon-channel{
    width: 70px;
    height: 70px;
    background-position: -140px -355px;
}
.icon-user{
    width: 50px;
    height: 50px;
    background-position: -0px -425px;
}
.icon-setting{
    width: 50px;
    height: 50px;
    background-position: -70px -425px;
}
.icon-usb{
    width: 50px;
    height: 50px;
    background-position: -140px -425px;
}
.icon-server{
    width: 50px;
    height: 50px;
    background-position: -210px -425px;
}
.icon-telephone{
    width: 50px;
    height: 50px;
    background-position: -280px -425px;
}
.icon-check{
    width: 50px;
    height: 50px;
    background-position: -350px -425px;
}
.icon-shield{
    width: 65px;
    height: 65px;
    background-position: -0px -497px;
}
.icon-rocket{
    width: 65px;
    height: 65px;
    background-position: -70px -497px;
}
.icon-heart{
    width: 65px;
    height: 65px;
    background-position: -140px -497px;
}
.icon-num1{
    width:40px;
    height: 40px;
    background-position: -0px -567px;
}
.icon-num2{
    width:40px;
    height: 40px;
    background-position: -70px -567px;
}
.icon-num3{
    width:40px;
    height: 40px;
    background-position: -140px -567px;
}
.icon-num3{
    width:40px;
    height: 40px;
    background-position: -140px -567px;
}
.icon-diamond{
    width:22px;
    height: 22px;
    background-position: -210px -567px;
}
.icon-computer{
    width:110px;
    height: 100px;
    background-position: 0px -638px;
}
.icon-house{
    width:110px;
    height: 100px;
    background-position: -140px -638px;
}
.icon-chart{
    width:110px;
    height: 100px;
    background-position: -280px -638px;
}
.icon-redBag{
    width: 90px;
    height: 90px;
    background-position: -426px 0px;
}
.icon-orgCheck{
    width: 90px;
    height: 90px;
    background-position: -426px -140px;
}
.icon-blueUser{
    width: 90px;
    height: 90px;
    background-position: -426px -280px;
}
.icon-yelSale{
    width: 90px;
    height: 90px;
    background-position: -426px -420px;
}
.icon-redChart{
    width: 90px;
    height: 90px;
    background-position: -426px -560px;
}
.icon-orgCategory{
    width: 90px;
    height: 90px;
    background-position: -567px 0px;
}
.icon-dot{
    width: 10px;
    height: 10px;
    background-position: -213px -355px;
}
.icon-headHeart{
    width: 70px;
    height: 70px;
    background-position: -567px -140px;
}
.icon-manHeart{
    width: 70px;
    height: 70px;
    background-position: -567px -210px;
}
.icon-light{
    width: 70px;
    height: 70px;
    background-position: -567px -280px;
}
.icon-purse{
    width: 70px;
    height: 70px;
    background-position: -567px -355px;
}
.icon-pipe{
    width: 70px;
    height: 70px;
    background-position: -567px -426px;
}
/*图标2*/
.icon2 {
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/icons2.png');
    background-repeat: no-repeat;
    background-size: 500px auto;
}
.icon2-computer{
    width: 120px;
    height: 120px;
    background-position: 0px 0px;
}
.icon2-house{
    width: 130px;
    height: 94px;
    background-position: 0px -140px;
}
.icon2-carL{
    width: 145px;
    height: 76px;
    background-position: 0px -280px;
}
.icon2-carR{
    width: 165px;
    height: 81px;
    background-position: 0px -420px;
}
.icon2-tool{
    width: 110px;
    height: 110px;
    background-position: 0px -567px;
}
.icon2-computer2{
    width: 110px;
    height: 110px;
    background-position: -0px -707px;
}
.icon2-cloud{
    width: 110px;
    height: 110px;
    background-position: -0px -847px;
}
.icon2-user{
    width: 110px;
    height: 110px;
    background-position: -0px -987px;
}
.icon2-wheel{
    width: 117px;
    height: 110px;
    background-position: -0px -1127px;
}
.icon2-case{
    width: 110px;
    height: 110px;
    background-position: -0px -1267px;
}
.icon2-chart{
    width: 128px;
    height: 110px;
    background-position: -0px -1407px;
}
.icon2-book{
    width: 110px;
    height: 112px;
    background-position: -0px -1547px;
}
/*图标3*/
.icon3{
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/icons3.png');
    background-repeat: no-repeat;
    background-size: 145px auto;
}
.icon3-fire{
    width: 60px;
    height: 60px;
    background-position: -70px -0px;
}
.icon3-bag{
    width: 60px;
    height: 60px;
    background-position: -70px -70px;
}
.icon3-sale{
    width: 60px;
    height: 60px;
    background-position: -70px -140px;
}
.icon3-robot{
    width: 60px;
    height: 60px;
    background-position: -70px -210px;
}
.icon3-findM{
    width: 60px;
    height: 60px;
    background-position: -70px -280px;
}
.icon3-category{
    width: 60px;
    height: 60px;
    background-position: -70px -350px;
}
.icon3-server{
    width: 60px;
    height: 60px;
    background-position: -70px -420px;
}
.icon3-sku{
    width: 70px;
    height: 60px;
    background-position: -70px -490px;
}
.icon3-stock{
    width: 60px;
    height: 60px;
    background-position: -70px -560px;
}
.icon3-bell{
    width: 60px;
    height: 60px;
    background-position: -70px -630px;
}
.icon3-lamp{
    width: 60px;
    height: 60px;
    background-position: -70px -700px;
}
/*图标4*/
.icon4{
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/icons4.png');
    background-repeat: no-repeat;
    background-size: 500px auto;
}
.icon4-tools{
     width: 150px;
     height: 150px;
     background-position: -0px -0px;
 }
.icon4-box{
    width: 150px;
    height: 150px;
    background-position: -0px -210px;
}
.icon4-pipe{
    width: 150px;
    height: 150px;
    background-position: -0px -420px;
}
.icon4-server{
    width: 150px;
    height: 150px;
    background-position: -0px -630px;
}
.icon4-computer{
    width: 150px;
    height: 150px;
    background-position: -0px -840px;
}
.icon4-book{
    width: 150px;
    height: 150px;
    background-position: -0px -1050px;
}
/*图标5*/
.icon5{
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/icons5.png');
    background-repeat: no-repeat;
    background-size: 300px auto;
}
.icon5-1{
    width: 120px;
    height: 120px;
    background-position: -0px -0px;
}
.icon5-2{
    width: 120px;
    height: 120px;
    background-position: -0px -140px;
}
.icon5-3{
    width: 120px;
    height: 120px;
    background-position: -0px -280px;
}
.icon5-4{
    width: 120px;
    height: 120px;
    background-position: -0px -420px;
}
.icon5-5{
    width: 120px;
    height: 120px;
    background-position: -0px -560px;
}
.icon5-6{
    width: 120px;
    height: 120px;
    background-position: -0px -700px;
}
.icon5-7{
    width: 120px;
    height: 120px;
    background-position: -0px -840px;
}
/*图标6*/
.icon6{
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/icons6.png');
    background-repeat: no-repeat;
    background-size: 100px auto;
}
.icon6-dot{
    width: 20px;
    height: 20px;
    background-position: -0px -0px;
}
.icon6-develop{
    width: 20px;
    height: 20px;
    background-position: -0px -35px;
}
.icon6-pd{
    width: 20px;
    height: 20px;
    background-position: -0px -71px;
}
.icon6-design{
    width: 20px;
    height: 20px;
    background-position: -0px -105px;
}
.icon6-op{
    width: 20px;
    height: 20px;
    background-position: -0px -140px;
}
.icon6-sale{
    width: 20px;
    height: 20px;
    background-position: -0px -175px;
}
.icon6-market{
    width: 20px;
    height: 20px;
    background-position: -0px -213px;
}
.icon6-service{
    width: 20px;
    height: 20px;
    background-position: -0px -248px;
}

.icon-notice{
    width: 22px;
    height: 19px;
    vertical-align: middle;
    display: inline-block;
    background: url("../img/notice.png") center no-repeat;
}
.icon-dot{
    width: 10px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
    background: url("../img/index-dot.png") center no-repeat;
}
/*图标7*/
.icons7{
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/icons-new.png');
    background-repeat: no-repeat;
    background-size: 750px auto;
}
.icons7-course-suc{
    width:45px;
    height:45px;
    background-position:-702px -308px;
}
.icons7-course-1{
    width:18px;
    height:18px;
    background-position:-497px -355px;
}
.icons7-course-2{
    width:18px;
    height:18px;
    background-position:-522px -355px;
}
.icons7-operation-1{
    width:37px;
    height:37px;
    background-position:-497px -317px;
}
.icons7-operation-2{
    width:37px;
    height:37px;
    background-position:-551px -316px;
}
.icons7-operation-3{
    width:37px;
    height:37px;
    background-position:-604px -316px;
}
.icons7-operation-4{
    width:37px;
    height:37px;
    background-position:-657px -316px;
}
.icons7-sys-1{
    width:80px;
    height:80px;
    background-position:-2px -321px;
}
.icons7-sys-2{
    width:80px;
    height:80px;
    background-position:-92px -321px;
}
.icons7-sys-3{
    width:80px;
    height:80px;
    background-position:-197px -321px;
}
.icons7-sys-4{
    width:80px;
    height:80px;
    background-position:-373px -322px;
}
.icons7-sys-5{
    width:80px;
    height:80px;
    background-position:-285px -322px;
}
.icons7-sys-6{
    width:37px;
    height:37px;
    background-position:-426px -213px;
}
.icons7-sys-7{
    width:37px;
    height:37px;
    background-position:-481px -213px;
}
.icons7-sys-8{
    width:37px;
    height:37px;
    background-position:-532px -213px;
}
.icons7-sys-9{
    width:37px;
    height:37px;
    background-position:-635px -213px;
}
.icons7-sys-10{
     width:37px;
     height:37px;
     background-position:-692px -213px;
 }
.icons7-sys-11{
      width:37px;
      height:37px;
      background-position:-426px -265px;
  }
.icons7-sys-12{
       width:37px;
       height:37px;
       background-position:-479px -265px;
   }
.icons7-sys-13{
        width:37px;
        height:37px;
        background-position:-531px -265px;
    }
.icons7-sys-14{
    width:37px;
    height:37px;
    background-position:-531px -265px;
}
.icons7-sys-15{
    width:37px;
    height:37px;
    background-position:-531px -265px;
}
.icons7-sys-16{
    width:37px;
    height:37px;
    background-position:-583px -213px;
}
.icons7-sys-17{
    width:37px;
    height:37px;
    background-position:-583px -265px;
}

.icons7-track-1{
    width:70px;
    height:70px;
    background-position:0 -107px;
}
.icons7-track-2{
    width:70px;
    height:70px;
    background-position:-89px -107px;
}
.icons7-track-3{
    width:70px;
    height:70px;
    background-position:-160px -107px;
}
.icons7-track-4{
    width:70px;
    height:70px;
    background-position:-249px -107px;
}
.icons7-track-5{
    width:70px;
    height:70px;
    background-position:-319px -107px;
}
.icons7-track-6{
    width:85px;
    height:70px;
    background-position:-497px -107px;
}
.icons7-track-7{
    width:85px;
    height:80px;
    background-position:-603px -108px;
}
.icons7-track-8{
    width:85px;
    height:80px;
    background-position:-0 -213px;
}
.icons7-track-9{
    width:85px;
    height:80px;
    background-position:-107px -213px;
}
.icons7-track-10{
    width:85px;
    height:80px;
    background-position:-213px -213px;
}
.icons7-track-11{
    width:85px;
    height:80px;
    background-position:-319px -213px;
}
.icons7-price-1{
    width:80px;
    height:80px;
    background-position:0 0;
}
.icons7-price-2{
    width:80px;
    height:80px;
    background-position:-89px 0;
}
.icons7-price-3{
    width:80px;
    height:80px;
    background-position:-178px 0;
}
.icons7-price-4{
    width:80px;
    height:80px;
    background-position:-266px 0;
}
.icons7-price-5{
    width:80px;
    height:80px;
    background-position:-355px 0;
}
.icons7-price-6{
    width:80px;
    height:80px;
    background-position:-443px 0;
}
.icons7-price-7{
    width:80px;
    height:80px;
    background-position:-532px 0;
}
.icons7-price-8{
    width:80px;
    height:80px;
    background-position:-621px 0;
}
/*边*/
.borderL{
    border-left: 1px #ddd solid;
}
.borderR{
    border-right: 1px #ddd solid;
}
.bor1{
    border:3px #ddd solid;
}
.border1{
    border:1px #ddd solid;
}
.borderLB{
    border-bottom: 1px #ddd solid;
}
.borderLT{
    border-top: 1px #ddd solid;
}
/*三角形*/
.triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.rotate180{
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    transition: 1s ease;

    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

/* 经过时出现阴影 */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.height140{
    height:140px;
}
.lineH140{
    line-height:140px;
}
.pdT20{
    padding-top:20px;
}
.pdT5{
    padding-top:5px;
}
.pdL20{
    padding-left:20px;
}
.pdR20{
    padding-right:20px;
}

.pdB15{
    padding-bottom:15px;
}
.dashed-line{
    width:100%;
    height:1px;
    border-top:1px dashed #ddd;
}
.border-dashed{
    border:1px dashed #ddd;
}
